.quizSection {
    padding: 1rem;
    color: black;
    text-align: center;
    background-color: #D0E1ED;
    border:2px solid #d3d3d3;
    height: fit-content;
}

.quizbox {
    height: fit-content;
}

.scorebar {
    font-weight: 700;
    color: black;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.questionbar{
    display: flex;
    flex-direction: row;
}

.questionbar h2{
    flex: 60%;
    text-align: center;
    padding-bottom: 20px;
}

.questionsbox {
    display: block;
    box-sizing: border-box;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin-top: 1rem;
    background-color:#A3C6B6;
}

.option {
    background-color:#A3C6B6;
}

.nextBtn {
    background-color: rgb(136, 153, 228);
    text-align: center;
}

.resultBtn {
    background-color: rgb(136, 153, 228);
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.danger {
    background-color: #dc3545;
}

.success {
    background-color: #198754;
}

button:disabled {
    cursor: default;
    opacity: .65;
}

@media only screen and (max-width: 900px) {
    .scorebar {
        margin-top: 0;
        margin-bottom: 0;
    }

    .questionbar h2 {
        padding-bottom: 5px;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .questionsbox button {
        margin-top: .5rem;
    }
  }