#main {
    width: 50rem;
}

#take-quiz {
    text-align: center;
    padding-top: 20px;
    margin-right: 250px;
}

@media only screen and (max-width: 1500px) {

    /* Make box small for smaller screen */
    #take-quiz {
        width: 700px;
        margin-right: 200px;
    }
    
}

@media only screen and (max-width: 900px) {
    #main {
        /* Add margin on small windows to add room*/
        margin-right: 2rem;
    }
  }